#searchContainer{
    height: 5em;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#showingContainer{
    height: 22em;
    /* background-color: red; */
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}