#searchContainer{
    height: 2.5em;
    width: 38em;
    display: flex;
    justify-content: space-between;
}

#leftSide {
    height: 100%;
    width: 60%;
    /* background-color: black; */
}
#rightSide{
    height: 100%;
    width: 23%;
    
}
#rightSide button{
    height: 100%;
    width: 100%;
    background-color: rgba(228,61,61,1);
    box-shadow:  6px 6px 10px rgb(207, 6, 6);
    cursor: grab;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    transition: transform 0.6s ease;
}


#rightSide button:hover{
    color: red;
    background-color: black;
    transform: translateX(-5px);
    box-shadow:  6px 6px 10px black;
}

#leftSide input{
    height: 90%;
    width: 100%;
}