#header{
    height: 5rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#content{
    height: 27rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
#footer{

}