:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0px;
  margin: 0px;
}

input{
   font-size: 1rem;
  border-radius: 6px;
    border: 2px solid rgba(128, 128, 128, 0.363); 
     padding-left: 1rem; /* or 10px */
}

input::placeholder {
   opacity: 0.5;
   padding-left:0.1em;
}


body{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#root{
  min-height: 100%;
  height: auto;
  width: 100%;
  background-color: #bdbdb8;
  display: flex;
  justify-content: center;
  align-items: center;
}

#App{
  min-height: 32rem;
  margin: 2rem;
  height: auto;
  width: 90%;
  background-color: white;
  border-radius: 10px;
}

@media screen and (max-width:400px) {
    #App{
      margin: 1rem;
    }
}
